body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #333;
  }
  
  .form, .search, .subject-list {
    margin-bottom: 20px;
  }
  
  input, textarea, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }  

  button {
    margin-left: 10px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    text-align: center;
  }
  
  .modal-content input, .modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .subject-description {
    white-space: pre-wrap;
    margin-top: 0px;
  }

  .subject-name {
    font-size: 1.2rem;
  }

  .subject-difficulty {
    margin: 0px;
  }

  .subt {
    margin: 0px;
    font-weight: bold;
  }

  .info-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  